body {
  margin: 0px;
  padding: 0px;
}
#bg {
  height: 100vh;
  width: 100%;
  position: absolute;
  overflow: hidden;
}
#bg img {
  height: 120vh;
  width: 105%;
  -webkit-filter: blur(20px);
  filter: blur(20px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
#blackLayer {
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  z-index: 99;
}
#main {
  width: 400px;
  background-color: #fff;
  border-radius: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  display: grid;
  grid-template-columns: 40% 60%;
}
#image img {
  height: 180px;
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
#player {
  padding: 16px;
  color: #333;
  display: grid;
  align-content: space-between;
}
.songTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.play {
  width: 40px;
  height: 40px;
  border: 0;
  background-color: royalblue;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  text-align: center;
  line-height: 50px;
}
.play img {
  width: 100%;
}
.padit {
  padding: 16px 32px;
}
#seek-bar {
  width: 100%;
  height: 5px;
  background-color: gray;
  display: flex;
  border-radius: 50px;
  cursor: pointer;
}
#fill {
  height: 5px;
  background-color: royalblue;
  border-radius: 20px;
}
#handle {
  width: 8px;
  height: 8px;
  background-color: royalblue;
  border-radius: 50%;
  margin-left: -5px;
  transform: scale(2);
}
